<div class="container">

  <div class="header">
    <img [src]="headerLogo">
    <d-tabs [(activeTab)]="tab22acticeID" [showContent]="false">
      <d-tab id="tab1" title="首页" tabId="tab1"> </d-tab>
    </d-tabs>
    <div class="greeting">
      <span>Hi {{username}}</span>
    </div>
  </div>

  <div class="menu-container">
    <d-accordion
      [data]="menu"
      class="menu"
      [restrictOneOpen]="restrictOneOpen"
      (itemClick)="itemClick($event)"
      (menuToggle)="menuToggle($event)"
    ></d-accordion>
  </div>

  <div class="content">
    项目成员
  </div>

</div>