.container {
    height: 100vh;
    margin: 0;
    background: #f3f6f8;
}

.header {
    height: 40px;
    color: #c0c0c0;
    background: #232323;
}

.header img {
    display: inline-block;
    margin-left: 32px;
    width: 73px;
    height: 40px;
}

.menu-container {
    float: left;
    width: 240px;
    height: calc(100% - 40px);
    background: white;
}

:host ::ng-deep .devui-accordion-menu {
    box-shadow: none;
}

.option {
    line-height: 20px;
    vertical-align: middle;
    margin-top: 20px;
}

.option > d-toggle {
    display: inline-block;
    transform: translateY(3px);
}

@media (max-width: 250px) {
    .menu {
        width: 80%;
    }
}

.content {
    float: left;
    width: calc(100% - 280px);
    height: calc(100% - 60px);
    margin: 10px 20px;
    background: white;
}
